[Desktop Entry]
Name=Astrofin
Comment=Desktop client for Jellyfin
Exec=astrofin
Icon=io.github.thehalfrican.Astrofin
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;
StartupWMClass=io.github.thehalfrican.Astrofin
